{% load static %}
<!DOCTYPE html>
    <html lang= "en">
        <head>
            <title>{% block title %}My base Template{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
                
            <script src="{% static "assets/js/jquery-2.0.0.min.js" %}"></script>
            <script src="{% static "assets/js/ajax.js" %}"></script>
            
        </head>
        
        <body>
            <div id="page">
                <div id="sidebar">
                    {% block sidebar %}
                        <ul>
                            <li><a href="/articles/all">Articles</a></li>
                            <li><a href="/admin/">Admin</a></li>
                        </ul>
                    {% endblock %}
                </div>
                <div id="content">
                    {% block content %}This is content the Area{% endblock %}
                    
                    <img src="{% static "assets/images/Vaibhav.jpg" %}" width="200"/>
                </div>
            </div>
        </body>
        
    </html>
